$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.game {
    display: flex;
}

.guessed .letter--highlighted {
  background-color: #8cc174;
}

.boardContainer {
  width: 350px;
}
.letter {
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid blue;
  background-color: #EEE;
  height: 60px;
  width: 60px;
}
.letter--highlighted {
  background-color: #cc33ff;
}

.foundWordContainer {
  font-size: 20px;
  padding-left: 50px;
}
